body {
    width: 900px;
    margin: auto;
}

.BookEditor .BookEditor-hat {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    border-bottom: 5px solid #eee;
}